<ion-header>
  <ion-navbar color='cyan'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lihat Tempat Berbahaya</ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
-->

<ion-content padding>
  <ion-card>
    <ion-card-content>
		  <div id="image"></div>
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    Tanggal Pelaporan
  </ion-card-header>
  <ion-card-content color="green">
    Selasa, 20 Agustus 2017
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
Lokasi Tempat Berbahaya
  </ion-card-header>
  <ion-card-content color="green">
   {{ myPerson.location }}
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    Keterangan Tempat Berbahaya
  </ion-card-header>
  <ion-card-content color="green">
  {{ myPerson.description }}
  </ion-card-content>
</ion-card>

</ion-content>