<ion-header>
  <ion-navbar color="cyan">
    <ion-title>Haszard</ion-title>
<ion-buttons end>
      <button ion-button (click)="loadMap()">Posisi Awal</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content>
<div #map id="map"></div> 
<div ion-fixed class="test_class">
 <ion-card color="cyan">
  <ion-card-content>
  <ion-row>
  <ion-col col-8>
  Apakah Anda menemukan tempat berbahaya? <ion-icon name="warning"></ion-icon> 
  </ion-col>
  <ion-col col-2>
  <button ion-button color="danger"(click)="lapor()">Lapor!</button>
  </ion-col>
  </ion-row>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
