<!--
  Generated template for the IsibahayaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cyan">
    <ion-title>Data Tempat Berbahaya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class = "list">
  <ion-item>
    <ion-label color="primary" stacked>Lokasi Tempat Berbahaya</ion-label>
    <ion-input [(ngModel)]="location" type="text" placeholder="jl perjuangan, etc.."></ion-input>
  </ion-item>
  
  <br>
  
  <ion-item>
    <ion-label color="primary" stacked>Keterangan Tempat Berbahaya</ion-label>
    <ion-input [(ngModel)]="description" type="tel" placeholder="Longsor/Kecelakaan, etc.."></ion-input>
  </ion-item>
</div>

<div margin-left>
  <ion-label color="primary" stacked>Gambar Tempat Berbahaya</ion-label>
  <button ion-button color="yellow" (click)="takePicture()">Ambil Foto</button>
  <img [src]="base64Image" *ngIf="base64Image"/>
</div>
   <button ion-button (click)="upload()" *ngIf="base64Image">Upload to Firebase!</button>
	<br> <br> <br> <br> <br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
	 <button ion-button block large color="primary" (click)="createReport(location, description)">Simpan</button>
</ion-content>
